{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block main %}
{% if user.is_authenticated %}
    <h1>{{ user.username }}さん　　　クイズのスコアページ</h1>
    {% for e in object_list %}
   <table class="table">
        <thead>
        <tr>
            <th>回答日</th>
            <th>カテゴリ</th>
            <th>スコア</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ e.timestamp }}</th>
                <th>{{ e.genre }}</th>
                <th>{{ e.correct_count }}</th>
            </tr>
        </tbody>
   </table>
    {% endfor %}
{% endif %}
{% endblock %}
