<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if questions %}
        <h1>{{ questions }}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for choice in choices %}
                <input class="choice" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.fault }}</label><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    {% else %}
<p>クイズがありません。</p>
    {% endif %}

{{ correct_count }}
</body>
</html>