* {
    margin: 0;
    padding: 0;
}
.main {
    text-align: center;
}
.option {
    text-align: center;
}
.category {
    margin-top: 200px;
    width: auto;
    height: auto;
}
.select {
    text-align: center;
    max-width: 500px;
    width: calc(100% - 200px);
    height: 45px;
}
.StBt {
    margin-top: 20px;
    width: auto;
    height: auto;
}
.bt {
    max-width: 200px;
    width: calc(100% - 300px);
    height: 35px;
}

/*　ボタンの設定 */
.CreMy {
    display: flex;
}
.CreBt {
    width: 50%;
    height: 35px;
}
.MyBt{
    /* text-align: right; */
    width: 50%;
    height: 35px;
}
.bt2 {
    width: 100px;
    height: 35px;
}