{% extends 'base.html' %}
{% load static %}
{% block extraheader %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'question/question.css' %}">
    <link rel="stylesheet" href="{% static 'question/next.css ' %}">
    <style>
        .next {
            text-align: center;
            margin-top: 300px;

        }

        a.btn_02 {
            display: block;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            width: 250px;
            padding: 1rem 4rem;
            margin: 20px auto auto;
            font-weight: bold;
            border: 2px solid rgba(0, 0, 0, 0.51);
            background: rgba(0, 0, 0, 0.51);
            color: #fff;
            transition: 0.5s;
        }

        a.btn_02:hover {
            color: rgba(0, 0, 0, 0.51);
            background: #fff;
        }

    </style>
{% endblock %}
{% block main %}
    <div class="next">
    {% if feedback == '正解です' %}
            <audio autoplay>
                <source src="{% static 'Quiz-Correct_Answer01-1.mp3' %}" type="audio/mp3">
            </audio>
        {% elif feedback == '不正解です' %}
            <audio autoplay>
                <source src="{% static 'Quiz-Wrong_Buzzer01-1.mp3' %}" type="audio/mp3">
            </audio>
        {% endif %}
        <h2>{{ feedback }}</h2><br>
        <h3>正解は{{ answer }}</h3>
        <a href="{% url 'question5' %}" class="btn_02">次の問題へ</a>
    </div>
{% endblock %}